@page
@model JSMemoryGame.Pages.Shared.MemoryGameJqueryModel
@{
}
<div class="row">
    <div class="col">
        <button class="btn btn-warning fs-3"  style="height:65px; width:150px; background-color:lawngreen" id="btnStart" onclick="startGame()">Start</button>
    </div>
    <div class="col">
        <button class="btn btn-warning fs-3" style="height:65px; width:175px" id="btnNextTurn" onclick="nextTurn()" disabled>Next Turn</button>
    </div>
    <div class="col">
        <label class="align-self-center fs-3">Turn Number:</label>
        <div id="turnnumber" class="text-center"></div>
    </div>
    <div class="col">
        <label class="align-self-center fs-3">Score:</label>
        <div id="scorenumber" class="text-center"></div>
    </div>
</div>
<div class="row">
    <h1 style="text-align:center;font-family:'Lucida Sans'; color:red" id="msgGameOver"></h1>
</div>
<div class="row">
    <table>
        <tr>
            <td>
                <button class="spot " color="" disabled></button>
            </td>
            <td>
                <button class="spot " color="" disabled></button>
            </td>
            <td>
                <button class="spot " color="" disabled></button>
            </td>
            <td>
                <button class="spot " color="" disabled></button>
            </td>
            <td>
                <button class="spot " color="" disabled></button>
            </td>
            <td>
                <button class="spot " color="" disabled></button>
            </td>
        </tr>
        <tr>
            <td>
                <button class="spot " color="" disabled></button>
            </td>
            <td>
                <button class="spot " color="" disabled></button>
            </td>
            <td>
                <button class="spot " color="" disabled></button>
            </td>
            <td>
                <button class="spot " color="" disabled></button>
            </td>
            <td>
                <button class="spot " color="" disabled></button>
            </td>
            <td>
                <button class="spot " color="" disabled></button>
            </td>
        </tr>
        <tr>
            <td>
                <button class="spot " color="" disabled></button>
            </td>
            <td>
                <button class="spot " color="" disabled></button>
            </td>
            <td>
                <button class="spot " color="" disabled></button>
            </td>
            <td>
                <button class="spot " color="" disabled></button>
            </td>
            <td>
                <button class="spot " color="" disabled></button>
            </td>
            <td>
                <button class="spot " color="" disabled></button>
            </td>
        </tr>
        <tr>
            <td>
                <button class="spot " color="" disabled></button>
            </td>
            <td>
                <button class="spot " color="" disabled></button>
            </td>
            <td>
                <button class="spot " color="" disabled></button>
            </td>
            <td>
                <button class="spot " color="" disabled></button>
            </td>
            <td>
                <button class="spot " color="" disabled></button>
            </td>
            <td>
                <button class="spot " color="" disabled></button>
            </td>
        </tr>
        <tr>
            <td>
                <button class="spot " color="" disabled></button>
            </td>
            <td>
                <button class="spot " color="" disabled></button>
            </td>
            <td>
                <button class="spot " color="" disabled></button>
            </td>
            <td>
                <button class="spot " color="" disabled></button>
            </td>
            <td>
                <button class="spot " color="" disabled></button>
            </td>
            <td>
                <button class="spot " color="" disabled></button>
            </td>
        </tr>
        <tr>
            <td>
                <button class="spot " color="" disabled></button>
            </td>
            <td>
                <button class="spot " color="" disabled></button>
            </td>
            <td>
                <button class="spot" color="" disabled></button>
            </td>
            <td>
                <button class="spot " color="" disabled></button>
            </td>
            <td>
                <button class="spot " color="" disabled></button>
            </td>
            <td>
                <button class="spot " color="" disabled></button>
            </td>
        </tr>
    </table>
</div>



@section Scripts{
    <script>
        let gameOver;
        let nextturn;
        let btn1;
        let btn2;
        let turnnumint;
        let scorenumint;
        let allSpots = [...document.querySelectorAll(".spot")];
        let spotsToMatch = [...document.querySelectorAll(".spot")];
        let winningsets = [];
        let match = [];

        let lstColorClasses = [];  

        $(document).ready(function () {
            gameOver = false;
            nextturn = false;
            btn1 = "";
            btn2 = "";
            turnnumint = 1;
            scorenumint = 1;
            turnNumber = document.querySelector("#turnnumber");
            scoreNumber = document.querySelector("#scorenumber");
            allSpots = [...document.querySelectorAll(".spot")];
            spotsToMatch = [...document.querySelectorAll(".spot")];
            lstColorClasses.push('m1', 'm2', 'm3', 'm4', 'm5', 'm6', 'm7', 'm8', 'm9', 'm10', 'm11', 'm12', 'm13', 'm14', 'm15', 'm16', 'm17', 'm18');
            setMatchesRandomly();
            $(allSpots).click(takeSpot);
        })

        function setMatchesRandomly() {
            let s = spotsToMatch.length;
            spotsToMatch.sort(() => Math.random() - 0.5);

            for (let i = 0; i < spotsToMatch.length; i += 2) {
                match = [spotsToMatch.slice(i, i + 2)];
                winningsets.push(...match);
            }
            console.log(winningsets);

            lstColorClasses.sort(() => Math.random() - 0.5);
            winningsets.forEach(function (set, index) { set.forEach(function (button) { button.setAttribute("color", lstColorClasses[index]) }) });
        }

        function startGame()  {
            winningsets = [];
            gameOver = false;
            nextturn = false;
            btn1 = "";
            btn2 = "";
            turnnumint = 1;
            scorenumint = 1;
            turnNumber.textContent = 0;
            scoreNumber.textContent = 0;
            $(allSpots).removeClass("alreadyMatched").addClass("notClicked");
            allSpots.forEach(s => {
                s.disabled = false;
                s.classList.remove(s.getAttribute("color"))
            });
            setMatchesRandomly();

        }

        function colorfulClickRandom(btn) {
            $(btn).removeClass("notClicked").addClass(btn.getAttribute("color"));
        }

        function takeSpot(event) {
            let btn = event.target;
            if (btn1 == "") {
                btn1 = btn;
                btn1.disabled = true;
            }
            else if (btn1 != "" && btn2 == "") {
                btn2 = btn;
                btn2.disabled = true;
            }
            else {
                return;
            }
            doTakeSpot(btn);
        }

        function doTakeSpot(btn) {
            if (btn.classList.contains("notClicked")) {
                colorfulClickRandom(btn);
            }
            if (btn.classList.contains("alreadyMatched")) {
                return;
            }
            if (btn2 != "") {
                document.getElementById("btnNextTurn").disabled = false;
            }
        }

        function nextTurn() {
            nextturn = true;
            turnNumber.textContent = turnnumint++;
            $(btn1).removeClass(btn1.getAttribute("color"));
            $(btn2).removeClass(btn2.getAttribute("color"));
            if (btn1.getAttribute("color") === btn2.getAttribute("color")) {
                $(btn1).addClass("alreadyMatched");
                $(btn2).addClass("alreadyMatched");
                scoreNumber.textContent = scorenumint++;
                btn1.disabled = true;
                btn2.disabled = true;
            }
            else {
                $(btn1).addClass("notClicked");
                $(btn2).addClass("notClicked");
                btn1.disabled = false;
                btn2.disabled = false;
            }
            document.getElementById("btnNextTurn").disabled = true;

        btn1 = "";
        btn2 = "";
            if (allSpots.every(s => s.classList.contains("alreadyMatched"))) {
                document.querySelector("#msgGameOver").textContent = `Game over! ---------- ${turnNumber.textContent} Tries!!`;
            }
        }

    </script>
}
