@page
@model JSMemoryGame.Pages.MemoryGameTypeScriptModel
@{
}
<div class="row">
    <div class="col">
        <button class ="btn btn-warning fs-3" style="height:65px; width:150px; background-color:lawngreen" id="btnStart" onclick="startGame()">Start</button>
    </div>
    <div class="col">
        <button class="btn btn-warning fs-3" style="height:65px; width:175px" id="btnNextTurn" onclick="nextTurn()" disabled>Next Turn</button>
    </div>
    <div class="col">
        <label class="align-self-center fs-3">Turn Number:</label>
        <div id="turnnumber" class="text-center"></div>
    </div>
    <div class="col">
        <label class="align-self-center fs-3">Score:</label>
        <div id="scorenumber" class="text-center"></div>
    </div>
</div>
<div class="row">
    <h1 style="text-align:center;font-family:'Lucida Sans'; color:red" id="msgGameOver"></h1>
</div>
<div class="row">
    <table>
        <tr>
            <td>
                <button class="spot " color="" disabled></button>
            </td>
            <td>
                <button class="spot " color="" disabled></button>
            </td>
            <td>
                <button class="spot " color="" disabled></button>
            </td>
            <td>
                <button class="spot " color="" disabled></button>
            </td>
            <td>
                <button class="spot " color="" disabled></button>
            </td>
            <td>
                <button class="spot " color="" disabled></button>
            </td>
        </tr>
        <tr>
            <td>
                <button class="spot " color="" disabled></button>
            </td>
            <td>
                <button class="spot " color="" disabled></button>
            </td>
            <td>
                <button class="spot " color="" disabled></button>
            </td>
            <td>
                <button class="spot " color="" disabled></button>
            </td>
            <td>
                <button class="spot " color="" disabled></button>
            </td>
            <td>
                <button class="spot " color="" disabled></button>
            </td>
        </tr>
        <tr>
            <td>
                <button class="spot " color="" disabled></button>
            </td>
            <td>
                <button class="spot " color="" disabled></button>
            </td>
            <td>
                <button class="spot " color="" disabled></button>
            </td>
            <td>
                <button class="spot " color="" disabled></button>
            </td>
            <td>
                <button class="spot " color="" disabled></button>
            </td>
            <td>
                <button class="spot " color="" disabled></button>
            </td>
        </tr>
        <tr>
            <td>
                <button class="spot " color="" disabled></button>
            </td>
            <td>
                <button class="spot " color="" disabled></button>
            </td>
            <td>
                <button class="spot " color="" disabled></button>
            </td>
            <td>
                <button class="spot " color="" disabled></button>
            </td>
            <td>
                <button class="spot " color="" disabled></button>
            </td>
            <td>
                <button class="spot " color="" disabled></button>
            </td>
        </tr>
        <tr>
            <td>
                <button class="spot " color="" disabled></button>
            </td>
            <td>
                <button class="spot " color="" disabled></button>
            </td>
            <td>
                <button class="spot " color="" disabled></button>
            </td>
            <td>
                <button class="spot " color="" disabled></button>
            </td>
            <td>
                <button class="spot " color="" disabled></button>
            </td>
            <td>
                <button class="spot " color="" disabled></button>
            </td>
        </tr>
        <tr>
            <td>
                <button class="spot " color="" disabled></button>
            </td>
            <td>
                <button class="spot " color="" disabled></button>
            </td>
            <td>
                <button class="spot " color="" disabled></button>
            </td>
            <td>
                <button class="spot " color="" disabled></button>
            </td>
            <td>
                <button class="spot " color="" disabled></button>
            </td>
            <td>
                <button class="spot " color="" disabled></button>
            </td>
        </tr>
    </table>
</div>

<script src="~/js/MemoryGameTypeScript.js" asp-append-version="true">
</script>

